
# 环境配置
ENV=dev

# 日志配置
LOG_PATH=logs
LOG_COLORFUL=true

# LLM 配置
LLM_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_API_KEY=


# MySQL 配置
MYSQL_HOST=localhost
MYSQL_PORT=
MYSQL_DATABASE=ai_notebook
MYSQL_USERNAME=
MYSQL_PASSWORD=

