
# 环境配置
ENV=

# 日志配置
LOG_PATH=logs
LOG_COLORFUL=true

# LLM 配置
LLM_URL=https://ark.cn-beijing.volces.com/api/v3
LLM_API_KEY=
LLM_SCENE_ID=


# MySQL 配置
MYSQL_HOST=localhost
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=root
MYSQL_PASSWORD=

